@import "./bootstrap.min.css" all;
@import "./swiper-bundle.min.css" screen;
@import "./all.min.css" all;
@import "./rd-navbar.min.css" screen;

:root {
    --sidebar-width_custom: 300px;
    --grid-gutter-width_custom: 20px;
    --background-color_custom: #fff;
    --color-borders_custom: #bbb;
    --link-color-custom: rgba(0, 0, 0, 0.55);
    --link-color-custom2: rgba(0, 0, 0, 0.7);
    --link-color-hover-custom: rgba(0, 0, 0, 0.7);
    --link-color-hover-custom2: rgba(0, 0, 0, 9);
}
a {
    text-decoration: none;
}
.sidebar {
    width: calc(var(--sidebar-width_custom) + var(--grid-gutter-width_custom));
    /*padding-right: calc(var(--grid-gutter-width_custom)/2);*/
    padding-left: calc(var(--grid-gutter-width_custom)/2);
}
.content{
    width: calc(100% - var(--sidebar-width_custom) - var(--grid-gutter-width_custom)  ) ;
    padding-right: calc(var(--grid-gutter-width_custom)/2);
    /*padding-left: calc(var(--grid-gutter-width_custom)/2);*/
}
@media (max-width: 991px) {
    .sidebar, .content{ width: 100%;}
}
@media (min-width: 992px) {
    .topnav .navbar-nav {
        margin: auto;
    }
}

.sidebar .promo {
    display: flex;
    justify-content: center;
}


/*fonts*/
@font-face {
    font-family: 'PT Serif';
    src: url("../webfonts/PTSerif-Regular.eot");
    src: url("../webfonts/PTSerif-Regular.eot?#iefix") format("embedded-opentype"),
    url("../webfonts/PTSerif-Regular.woff2") format("woff2"),
    /*url("../webfonts/fa-brands-400.woff") format("woff"),*/
    url("../webfonts/PTSerif-Regular.ttf") format("truetype"),
    url("../webfonts/PTSerif-Regular.svg") format("svg");
    font-display: swap;
}
@font-face {
    font-family: 'PT Serif Bold';
    src: url("../webfonts/PTSerif-Bold.eot");
    src: url("../webfonts/PTSerif-Bold.eot?#iefix") format("embedded-opentype"),
    url("../webfonts/PTSerif-Bold.woff2") format("woff2"),
    /*url("../webfonts/fa-brands-400.woff") format("woff"),*/
    url("../webfonts/PTSerif-Bold.ttf") format("truetype"),
    url("../webfonts/PTSerif-Bold.svg") format("svg");
    font-display: swap;
}
@font-face {
    font-family: 'Roboto bold';
    src: url("../webfonts/Roboto-Bold.eot");
    src: url("../webfonts/Roboto-Bold.eot?#iefix") format("embedded-opentype"),
    url("../webfonts/Roboto-Bold.woff2") format("woff2"),
    /*url("../webfonts/fa-brands-400.woff") format("woff"),*/
url("../webfonts/Roboto-Bold.ttf") format("truetype"),
    url("../webfonts/Roboto-Bold.svg") format("svg");
    font-display: swap;

}
body {
    /*background: #a2a2a2;*/
    font-family: 'Roboto bold';
}
.color-black{color: black}
.circle:before {border-radius: 50%;}
.border-red:before {border: red 2px solid;}

header {padding: calc(var(--grid-gutter-width_custom)/2) 0;}
.bg-color {background-color: var(--background-color_custom) !important;}
.border-botom{ border-bottom: var(--color-borders_custom) solid 1px;}
.border-top{border-top: var(--color-borders_custom) solid 1px;}


.fixed-navbar {
    position: fixed;
    top: 0;
    width: 100%;
    max-width: 1000px;
    z-index: 1030;
}

.topnav .navbar-toggler
{
    outline: 0;
    border: none;
    box-shadow:none;
    padding-left: 0;
}


.topnav li a {
    text-transform: uppercase;
    font-weight: bold;
}
.right-nav{
    align-items: center;
    font-weight: bold;
    flex-direction: row;
}
.topnav .right-nav .nav-link {
    padding: 0;
}
.topnav .right-nav .nav-link:last-child { padding-right: 0;}
.topnav .left-nav .nav-item:first-child .nav-link { padding-left: 0;}

.topnav .right-nav a .fa-circle {color: transparent;transition: .4s all ease;}
.topnav .right-nav a:hover .fa-circle {
    color: red;transition: .4s all ease;
}
.topnav .right-nav a .curent-lang,
.topnav .right-nav a .alternate-lang
{
    transition: .4s all ease;
    font-style: normal;
    font-size: 14px;
}
.topnav .right-nav a .curent-lang,
.topnav .right-nav a:hover  .alternate-lang
{
    opacity: 1;
}
.topnav .right-nav a:hover .curent-lang,
.topnav .right-nav a .alternate-lang
{
    opacity: 0;
}
.topnav.navbar {
    padding-bottom: 0;
}
.navbar-logo-container {
    width: 120px;
    display: none;
}
.navbar-logo-container img,
.fullwidth

{width: 100%;}


.dropdown:hover .dropdown-menu {
    display: block;
}

.rd-navbar--is-stuck .navbar-logo-container {
    display: block;
    margin-left: auto;
    margin-right: auto;
    left: 0;
    right: 0;
}
@media (max-width: 991px) {
    .rd-navbar--is-stuck .navbar-logo-container {
        /*position: absolute;*/
    }
}

.trends {
    display: flex;
    /*flex-wrap: wrap;*/
    white-space: nowrap;
    font-family: 'Roboto bold', sans-serif;
    font-weight: bold;
    position: relative;
    overflow: hidden;
}

.double-right-shield{
    position: absolute;
    top: 70%;
    /*width: calc(var(--swiper-navigation-size)/ 44 * 27);*/
    margin-top: calc(-1 * var(--swiper-navigation-size)/ 2);
    z-index: 10;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    right: 0;
    left: auto;
    background: linear-gradient(to right, transparent 0%, white 30%, white 75%, white 100%);

}
.double-right-shield:before{
    content:url("../img/double-r-shield.svg") ;
    width: 40px;
    padding-left: 20px;
}
 .trends-items .swiper-slide
{
    /*justify-content: start;*/
    width: auto !important;
    width: fit-content !important;
    /*display: block;*/

}


.trends  .swiper-wrapper {
    display: -webkit-box;
    display: -moz-inline-box;
}
.trends .trends-title,
.trends .trends-item
{
    padding: 10px 0;
}
.trends .trends-title,
.trends .trends-title a
{
    text-transform: uppercase;
    color: #e64648;
    background: white;
    margin-right: 5px;
    align-self: center;
    z-index: 2;
}
.trends .trends-item {
    color: #9b9b9b;
    margin-right: 10px;
}
.trends .trends-item a {
    color: #9b9b9b;
    text-decoration: none;
    font-size: 16px;
}
@media (min-width: 992px) and (max-width: 1199px)  {
    .trends .trends-item a {
        font-size: 14px;
    }

}
.trends .trends-item a:hover {color: var(--link-color-hover-custom);}


.trends .trends-item:before {
    content: '';
    background-color: #d71421;
    height: 6px;
    width: 6px;
    bottom: 3px;
    border-radius: 50%;
    margin-right: 4px;
    display: inline-block;
    position: relative;
}
.post-item {
    display: flex; flex-direction: column;
}
.post-item .img-container {display: flex; flex-direction: column;position: relative;}
.post-item-img a {display: block}
.post-item .img-container .post-item-img a:after  {
    content: '';
    position: absolute;
    width: 100%;
    bottom: 0;
    top: 50%;
    left: 0;
    opacity: .3;
    background-image: -webkit-linear-gradient(top,transparent 0,black 100%);
    background-image: linear-gradient(to bottom,transparent 0,black 100%);
    background-repeat: repeat-x;
    -webkit-transition: .4s all ease;
    transition: .4s all ease;
    z-index: 0;
}
.post-item .img-container:hover .post-item-img a:after {
    opacity: 1;
    top: 40%;
}
.post-item .post-item-img {width: 100%;}
.post-item .post-item-img img {width: 100%; height: auto;}
.post-item .post-item-label {
    position: absolute;
    bottom: 0;
    left: 0;
    background: #ff5e5e;
    padding: 5px 10px;
    font-size: 12px;
}
.post-container .post-item .post-item-label {
    position: absolute;
    top: 0;
    bottom: auto;
    background: #ff5e5e;
    padding: 5px 10px;
    font-size: 12px;
}

.post-item .post-item-label a,
.post-container .post-item .post-item-label a
{
    color: white;
    text-decoration: none;
    text-transform: uppercase;
    font-family: 'Roboto bold', serif;
}
.post-container .post-item noindex {
    position: absolute;
    top: 0;
    bottom: auto;
    right: 0;
    background: #ff5e5e;
    color: white;
    padding: 5px 10px;
    font-size: 12px;
    text-transform: uppercase;
    font-family: 'Roboto bold', serif;
}

.post-item .post-item-counter {position: absolute;bottom: 0;right: 0; color: white;margin: 0 8px;font-size: 12px}
.post-item .post-item-counter:before {
    content: '\f06e';
    font-family: "Font Awesome 5 Free";
    margin: 0 5px;
}
.block1 .post-item .title-container {
    display: flex;
    flex-direction: row;
    padding-top: 10px;
}
.block2 .post-item .title-container {
    display: flex;
    flex-direction: column;
    font-family: 'PT Serif Bold', serif;
    font-size: 20px;
    line-height: 24px;
}
.post-item .title-container .item-number{
    color: #ff5e5e;
    font-size: 60px;
    line-height: 40px;
    padding-right: 5px;
    font-family: 'PT Serif', serif;
    font-weight: bold;
}
.post-item .title-container .item-date {
    font-size: 12px;
    padding-top: 10px;
    color: gray;
}
.post-item .title-container .item-title {
    /*line-height: 1;*/
    line-height: 1.5;
    padding-bottom: 15px;
}
@media (max-width: 575px) {
    .block1 .post-item .title-container .item-title {
        padding-bottom: 25px;
        font-size: 18px;
    }
    .author-container .share-container u {display: none}
}
.sidebar .post-item .title-container .item-title {
    font-size: 14px;
    line-height: 18px;
}
/*.block2 .post-item .title-container .item-title {*/
/*    font-family: 'PT Serif Bold', serif;*/
/*    font-size: 38px;*/
/*    line-height: 1;*/
/*}*/

@media (max-width: 991px)  {
    .block2 .post-item .title-container .item-title
    {
        font-size: 20px;
        line-height: 24px;
    }

}

.rubrics .post-item .title-container .item-title,
.read-more .post-item .title-container .item-title,
.block3 .post-item .title-container .item-title,
.block4 .post-item .title-container .item-title,
.block5 .post-item .title-container .item-title,
.block6 .post-item .title-container .item-title,
.author-items .post-item .title-container .item-title


{
    font-family: 'PT Serif Bold', serif;
    font-size: 20px;
    line-height: 24px;
}
.block1 .post-item .title-container .item-title{ line-height: 1;}


@media (min-width: 576px) {
    .rubrics .post-item:first-child{
        width: 100%;
    }
    .rubrics .post-item:first-child .title-container .item-title,
    .block2 .post-item .title-container .item-title,
    .block3 .post-item.col-lg-24 .title-container .item-title,
    .block4 .post-item.col-lg-24 .title-container .item-title,
    .block5 .post-item.col-lg-24 .title-container .item-title,
    .block6 .post-item.col-lg-24 .title-container .item-title
    {
        /*font-size: 24px;*/
        font-family: 'PT Serif Bold', serif;
        font-size: 26px;
        line-height: 1.2;
    }
}
.rubrics .pagination .page-link,
.author .pagination .page-link
{
    /*color: #0d6efd;*/
    /*background-color: #fff;*/
    border: none;
    text-transform: uppercase;
}
.rubrics .pagination .page-item .page-link:hover,
.author .pagination .page-item .page-link:hover
{
    background-color: transparent;
    color: #6c757d;
}
.rubrics .pagination .page-item .page-link,
.author .pagination .page-item .page-link
{
    color: #ff4343;
}
.rubrics .pagination .page-item.disabled .page-link,
.author .pagination .page-item.disabled .page-link
{
    color: #6c757d;
}
.rubrics .pagination .page-item:first-child .page-link,
.author .pagination .page-item:first-child .page-link
{
    padding-left: 0;
}
.rubrics .pagination .page-item:last-child .page-link,
.author .pagination .page-item:last-child .page-link
{
    padding-right: 0;
}
.rubrics .pagination .page-item:first-child .page-link:before,
.author .pagination .page-item:first-child .page-link:before
{
    content: "<";
    padding-right: 5px;
}
.rubrics .pagination .page-item:last-child .page-link:after,
.author .pagination .page-item:last-child .page-link:after
{
    content: ">";
    padding-left: 5px;
}


.editor-choice_block .post-item .title-container .item-title,
.recomended_block .post-item .title-container .item-title
{
    font-size: 14px;
}
@media (max-width: 991px)  {
    .editor-choice_block .post-item .title-container .item-title,
    .recomended_block .post-item .title-container .item-title
    {
        font-family: 'PT Serif Bold', serif;
        font-size: 20px;
        line-height: 24px;
    }
}
.recomended_block .post-item .title-container .item-title
{
    padding-top: 15px;
}
.sidebar .recomended_block .post-item .title-container .item-title {
    padding-top: 15px;
    font-family: 'PT Serif Bold', serif;
    font-size: 20px;
    line-height: 24px;
}

.post-item .title-container .item-title  a{
    color: var(--link-color-custom2);
    text-decoration: none;
    font-weight: bold;
}
.post-item .title-container .item-title  a:hover
{
    color: var(--link-color-hover-custom2);
}
.block2 .prev {
    left: 10px;
    right: auto;
}
.block2 .next{
    right: 10px;
    left: auto;
}
.block2 .next, .block2 .prev {
    position: absolute;
    top: 50%;
    width: calc(var(--swiper-navigation-size)/ 44 * 27);
    height: var(--swiper-navigation-size);
    margin-top: calc(-1 * var(--swiper-navigation-size)/ 2);
    z-index: 10;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    color: var(--swiper-navigation-color,var(--swiper-theme-color));
}
.block2 .fa-stack {
    justify-content: center;
    display: flex;
    align-items: center;
}
.block2 .fa-circle {color: white}
.block2 .fa-1x {
    font-size: .75rem;
}
@media (max-width: 575px ) {
    .block2 .next,.block2 .prev {
        top: calc(34vw);
        width: unset;
    }
}
@media (min-width: 576px ) {
    .block2 .next,.block2 .prev {
        margin-top: calc(-1 * var(--swiper-navigation-size)/ 2 - 10%);
        width: unset;
    }
}





.main-title, .main-title a,
.read-more-title, .read-more-title a
{
    color: #ff4343;
    font-size: 22px;
    text-transform: uppercase;
    text-decoration: none;
}
.main-title:after {  content: ' >';}


.more-title, .more-title a {
    text-align: center;
    color: #ff4343;
    font-size: 16px;
    text-transform: uppercase;
    text-decoration: none;
}
.more-title a:after {
    content: '∨';
    display: block;
}
.more-title a[aria-expanded="true"]:after  {
    content: '∧';
}
.horo-title a, .horo-title,
.recomended-title a, .recomended-title,
.editor-choice-title a, .editor-choice-title


{
    text-align: center;
    color: #ff4343;
    font-size: 22px;
    text-transform: uppercase;
    text-decoration: none;
    padding-top: 10px;
}
.horoscope_block li {
    float: left;
    margin: 0 14px 16px 0;
}
.horoscope_block li a {
    color: #666;
}
.horoscope_block li span {
    font-size: 14px;
    display: block;
    text-align: center;
    margin-top: 5px;
}
.horoscope_block .icon { width: 100%;    text-align: center;}
.horoscope_block .icon span {color: var(--link-color-custom);display: block;font-size: 11px;text-decoration: none;}
.horoscope_block .icon:hover span {color: var(--link-color-hover-custom);}
.horoscope_block .icon:hover img {
    filter: invert(53%) sepia(93%) saturate(5220%) hue-rotate(337deg) brightness(104%) contrast(100%);
}

.horoscope_block  a{text-decoration: none}
.horoscope_block .row {margin: 0 -3px;}
.horoscope_block .col-2 {
    padding-left: 3px;
    padding-right: 3px;
}
.sidebar .fixed > *:first-child{
    padding-top: var(--grid-gutter-width_custom);
}
.sidebar .fixed  > *{
    padding-bottom: var(--grid-gutter-width_custom);
}
.sidebar .main-title, .sidebar .main-title a {
    font-size: 16px;
}
.radio-widget .stations-list a {
    display: inline-block;
    width: 32%;
    vertical-align: middle;
    text-align: center;
    color: #757575;
    font-size: 14px;
}
.sidebar .radio-widget,
.sidebar .partner-news,
.sidebar .recomended_block,
.sidebar .social-sidebar .tab-content
{
    width: 300px;
    margin: auto;
}
.radio-widget .radio-image {
    display: block;
    position: relative;
    background-size: contain;
    background-repeat: no-repeat;
    background-image: url(../img/radio_widget_bg.jpg);
    height: 175px;
    width: 300px;
    margin: 15px 0;
}
/*.radio-widget .radio-image:hover:before {*/
/*    display: block;*/
/*    background: url(//i0.tchkcdn.com/_4d86ab50d/images/nightlife/radio_widget_bg_hover.gif) no-repeat;*/
/*    background-size: contain;*/
/*    height: 175px;*/
/*    width: 300px;*/
/*}*/
.radio-widget .radio-image:before {
    content: " ";
    display: none;
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
}
.social-sidebar .nav-link.active .fa-stack {
    color: #e21a22;
}
.social-sidebar .nav-tabs .nav-link.active,
.social-sidebar .nav-tabs .nav-link:hover,
.social-sidebar .nav-tabs .nav-link:focus,
.social-sidebar .nav-tabs .nav-link
{
    border: none;
    margin-bottom: 0;
}
.social-sidebar .nav-tabs {
    border: none;
    justify-content: center;
}


.partner-news .row {
    min-height: 95px;
}
.partner-news .row:first-child {
    min-height: 30px;
}


/*post*/
.content .post-container a,
.content .author .author-container a,
.content .author .author-container .name
{
    text-decoration: none;
    color: #ff6666;
}

.content .post-container a:hover

{
    text-decoration: none;
    color: #9b9b9b;
}


.post-container .author-container a,
.post-container .author-container .name,
.content .author .author-container a,
.content .author .author-container .name
{
    text-transform: uppercase;
}

.author-title-container .name,
.author-title-container .name
{
    font-size: 14px;
}

.content .author .author-container .job-title .post-counter {
    /*font-size: 12px;*/
}
.content .author .author-container .job-title .post-counter:before {
    content: ", ";
    font-size: 16px;
}
.share-container {
    display: flex;
    height: fit-content;
    align-items: center;
}
.share-container u{
    font-size: 12px;
    padding: 0 10px;
    color: gray;
    font-family: 'Roboto bold';
    text-decoration: none;
}
.share-container a,
.share-container u
{
    height: fit-content;
}
.content .post-container img {
   max-width: 100%;
}

.content .post-container article figure
{
    background: #f5f5f5;
    text-align: center;
    margin: 30px 0 40px 0;
}
.post-container .post-item figure{background: #f5f5f5;}
.content .post-container article figure > *
{
    margin: 0;
}
.content .post-container article figure img
{
    width: 100%;
    height: auto;
}
.content .post-container article figure figcaption,
.content .post-container .post-item-img figure figcaption

{
    font-size: 15px;
    font-weight: 500;
    text-align: left;
    padding: 10px;
    margin: 0 0 -10px 0;
    font-family: 'Roboto bold', serif;
}
.content .post-container article figure figcaption .copyrights,
.content .post-container .post-item-img figure figcaption .copyrights

{
    color: #999;
    font-size: 12px;
    white-space: nowrap;
}
.content .post-container article figure figcaption .copyrights a,
.content .post-container .post-item-img figure figcaption .copyrights a

{
    color: #999;
}
.content .post-container {
    font-family: sans-serif, serif;
    /*font-size: 28px;*/
    /*line-height: 1.2;*/
}
.content .title-container h1 {
    font-family: 'PT Serif Bold', serif;
    font-size: 44px;
    line-height: 1.2;
}
@media (max-width: 767px) {
    .content .title-container h1 {
        font-size: calc(1.375rem + 1.5vw);
    }
}

.content .title-container h2 {
    font-family: 'PT Serif Bold', serif;
    font-size: 18px;
}

.content .post-container h3
{
    font-family: 'Roboto bold', serif;
    font-size: 20px;
    /*line-height: 1.2;*/
}
.content .post-container h3:before
{
    content: "\f111";
    color: #ff0048;
    font-family: "Font Awesome 5 Free";
    bottom: 2px;
    padding-right: 5px;
    font-size: 75%;
    position: relative;
}
 .content .post-container ol li h3:before
{
    content: "";
    color: #ff0048;
    font-family: "Font Awesome 5 Free";
    bottom: 2px;
    padding-right: 5px;
    font-size: 75%;
    position: relative;
}
.content .post-container ol li::marker
{
color: #ff5e5e;
font-size: 30px;
font-family: 'PT Serif',serif;
font-weight: 700;
}
.content .post-container ol li h3
{
    display: inline;
}
.content .post-container ol li
{
list-style-position: inside;
}
.author-container {
    display: flex;
    justify-content: space-between ;
    padding: 10px 0 20px;
}
.author-container .author-title-container{
    font-family: 'Roboto bold';
}
.author-container .author-title-container a {
    font-weight: bold;
}
.author-container .author-title-container .job-title {
    line-height: 1;
    font-family: sans-serif,serif;
    font-size: 14px;
    color: gray;
}

.author-img-container {
    padding-right: 10px;
}
.author-img-container img {border-radius: 50%}
.date-container>* {
    font-size: 12px;
    padding-top: 10px;
    color: gray;
    font-family: 'Roboto bold';
}
.content .post-container .read-more-container {
    border-top: 1px solid #bbb;
    border-bottom: 1px solid #bbb;
    margin: 20px 0;
    padding: 10px 0;
}
.content .post-container .read-more-container a {
    color: #000;
    font-weight: bold;
}
.content .post-container .read-more-container a:hover {
    color: #666;
}
.content .post-container .read-more-container .read-more-label{
    font-family: 'Roboto bold', serif;
    font-size: 18px;
    color: #ff4343;
}
.content .post-container .read-more-container ul{
    list-style: none;
    padding: 0;
    margin: 0;
}

.content .post-container blockquote {
    font-size: 18px;
    font-style: italic;
    position: relative;
    border: none;
    padding: 10px 85px 0 80px;
    color: #000;
    margin: 40px 0 20px 0;
}

.content .post-container blockquote:before {
    position: absolute;
    font-family: 'Roboto bold', sans-serif;
    font-style: italic;
    content: "\201c";
    font-size: 7em;
    line-height: 1;
    color: #e21a22;
    left: 0;
    top: 0;
}

.content .post-container blockquote .muted {
    font-size: 16px;
    font-style: normal;
    text-align: right;
    padding-top: 15px;
    margin-bottom: 55px;
    margin-right: -15px;
    color: #666;
}

.content .post-container .print-and-share {
    display: flex;
    justify-content: space-between;
    padding: 20px 0;
}
.content .post-container .print-and-share .printer {
    display: flex;
    align-items: center;
    cursor: pointer;
}
.content .post-container .print-and-share span{
    text-transform: uppercase;
    font-weight: bold;
}
.content .post-container article footer {
    background-color: white;
    padding: 0;
}
.content .post-container .box-question {
    /*background-color: #f5f5f5;*/
    position: relative;
    /*margin: 15px 0 30px 0;*/
    padding: 20px 0;
    border-top: 1px solid;
}
.content .post-container .box-question h4 {
    font-size: 16px;
    font-weight: bold;
}
.content .post-container .box-question .btn {
    /*position: absolute;*/
    /*bottom: 50%;*/
    /*right: 20px;*/
    margin: 0;
    background: #ff5e5e;
    height: 25px;
    color: #fff;
    text-transform: uppercase;
    border-bottom: 3px solid #ff3a3a;
    border-radius: 0;
    font-size: 12px;
    padding: 0 5px;
    line-height: 2;
    left: 5px;
    position: relative;
}
@media (max-width: 575px) {
    .content .post-container .box-question .btn {
        position: initial;
    }
}
.content .post-container .box-question .btn:hover {
    background: #ff787b;
    color: #fff;
    border-bottom: 3px solid #ff3a3a;
}
.content .post-container .tags .label {
    font-family: 'Roboto bold', serif;
    font-size: 18px;
    color: #ff4343;
}
.content .post-container .tags ul {
    padding: 0;
    display: flex;
    flex-flow: wrap;
}
.content .post-container .tags li{
    margin-left: 20px;
    white-space: nowrap;
    position: relative;
}
.content .post-container .tags li::marker{
    color: red
}
.content .post-container .tags li a {
    font-family: 'Roboto bold', serif;
    font-size: 14px;
    text-transform: uppercase;
    color: #9b9b9b;
    left: -5px;
    position: relative;
}
.content .post-container .tags li a:hover {
    color: #ff3a3a;
}




/**//**//**//**//**//**//**//**//**/
/*КОМЕНТАРИИ*/
/**//**//**//**//**//**//**//**//**/
.content .comments-v2 {
    padding-bottom: 18px;
    box-sizing: content-box;
    font-family: sans-serif, serif;
}
.comments-v2 .B_header {
    height: 29px;
    background-color: #f5f5f5;
    border-top: 1px solid #E9E9E9;
    padding: 4px 10px 0;
}
.comments-v2 .B_header h3 {
    float: left;
    font-size: 19px;
    margin: 2px 0 0;
    line-height: 20px;
    font-weight: 400;
}
.comments-v2 .comment_subscribe {
    margin-top: 3px;
    float: right;
    display: inline-block;
    max-width: 100%;
    margin-bottom: 5px;
}
@media (max-width: 767px) {
    .comments-v2 .comment_subscribe {
        display: none;
    }
}
.comments-v2 .comment_subscribe div.formst.checkboxForm {
    position: relative;
    top: 2px;
    display: inline-block;
    width: 12px;
    height: 12px;
    padding: 0;
    border-radius: 0;
}
.formst, .formst * {
    box-sizing: content-box;
}
div.formst {
    border: solid 1px #e1e1e1;
    box-shadow: inset 0 0 2px #e1e1e1;
    border-radius: 2px;
    position: relative;
    overflow: hidden;
    padding: 0 10px;
    background: #FFF;
}
div.formst.checkboxForm {
    display: inline-block;
    width: 12px;
    height: 12px;
    padding: 0;
    border-radius: 0;
}
div.formst.checkboxForm.active {
    background: url(//i0.tchkcdn.com/_22b0ee59f/images/framework/forms/ic_checkbox.png) no-repeat center center #FFF;
    border: solid 1px #ffd131;
    box-shadow: inset 0 -3px 4px #fdeec3;
}
div.formst.checkboxForm:hover,
div.formst.checkboxForm.hover,
label:hover div.formst.checkboxForm {
    border: solid 1px #b0b0b0;
    cursor: pointer;
}
input[type="file"]:focus,
input[type="radio"]:focus,
input[type="checkbox"]:focus
{
    outline: thin dotted;
    outline: 5px auto -webkit-focus-ring-color;
    outline-offset: -2px;
}
input[type="checkbox"],
input[type="radio"] {
    box-sizing: border-box;
    padding: 0;
}
div.formst.checkboxForm input {
    position: absolute;
    top: -3px;
    left: -4px;
    cursor: pointer;
    opacity: 0;
    filter: alpha(opacity=0);
}
.comments-v2 .B_inner {
    padding: 7px 15px 0;
    background-color: #fff;
    border-bottom: 1px solid #DDE3E7;
}
.comments-v2 .CommentForm {
    margin: -7px -15px -1px -15px;
    padding: 15px;
    border-top: 1px solid #fff;
    border-bottom: 1px solid #fff;
    background: #F3F3F3;
    background: -moz-linear-gradient(top, #F5F5F5 0%, #EFEFEF 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #F5F5F5), color-stop(100%, #EFEFEF));
    background: -webkit-linear-gradient(top, #F5F5F5 0%, #EFEFEF 100%);
    background: -o-linear-gradient(top, #F5F5F5 0%, #EFEFEF 100%);
    background: -ms-linear-gradient(top, #F5F5F5 0%, #EFEFEF 100%);
    background: linear-gradient(to bottom, #F5F5F5 0%, #EFEFEF 100%);
}
.fl {
    float: left;
}
.comments-v2 .CommentForm .image {
    width: 48px;
    height: 48px;
    text-align: center;
}
.comments-v2 .CommentForm .image,
.comments-v2 .avatar,
.comments-v2 .icB_pointer,
.comments-v2 .NormalCasual,
.comments-v2 .ic_down,
.comments-v2 .ic_good,
.comments-v2 .ic_fb,
.comments-v2 .ic_vk,
.comments-v2 .ic_tweet,
.comments-v2 .ic_tochka,
.comments-v2 .ic_no_soc,
.comments-v2 .icB_comment {
    /*background-image: url(//i1.tchkcdn.com/_ade5dcbad/images/gui/comments-v2/sprite.png);*/
    background-image: url(../img/sprite.png);
    background-repeat: no-repeat;
}
.comments-v2 .counter {
    text-align: center;
    margin-top: 12px;
}
.comments-v2 .counter span:first-child {
    display: block;
    font-size: 9px;
    color: #8f989c;
    text-shadow: 0 1px 0 #f5f5f5;
    margin-bottom: -1px;
}
.comments-v2 .counter .count-symbols {
    /*color: #4f9403;*/
    font-size: 12px;
    text-shadow: 0 1px 0 #fff;
}
.comments-v2 .CommentForm .form form {
    display: block;
    padding-left: 62px;
}
div.formst.textareaForm {
    padding-right: 0;
    padding-bottom: 0;
    position: relative;
}
.comments-v2 .CommentForm .form form textarea {
    display: block;
    min-height: 105px;
    margin-bottom: 0;
    font-size: 13px;
}
div.formst textarea {
    max-width: 100%;
    margin-bottom: -3px;
    line-height: 19px;
    width: 100%;
    resize: none;
}
div.formst input[type="text"],
div.formst input[type="password"],
div.formst textarea,
div.formst textarea:focus
{
    padding: 4px 0;
    color: #5b5b5b;
    background: none;
    border-radius: 0;
    margin: 0;
    border: none;
    overflow: auto;
    outline: none;
}
.comments-v2 .dd-box {
    float: right;
    position: relative;
    display: inline-block;
}
.comments-v2 .dd-box .bt.rounded {
    border-radius: 2px 2px 0px 0px;
    margin: 0 -1px;
}
.bt.gr-gray {
    border: 1px solid #bababa;
    text-shadow: #fff 0 1px 0;
    color: #5b5b5b;
    background: #F5F5F5;
    background: -moz-linear-gradient(top, #F5F5F5 0%, #D3D3D3 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #F5F5F5), color-stop(100%, #D3D3D3));
    background: -webkit-linear-gradient(top, #F5F5F5 0%, #D3D3D3 100%);
    background: -o-linear-gradient(top, #F5F5F5 0%, #D3D3D3 100%);
    background: linear-gradient(to bottom, rgba(245, 245, 245, 1) 0%, rgba(211, 211, 211, 1) 100%);
}
.bt.gr-gray:hover {
    color: #5b5b5b;
    box-shadow: 0 0 3px #bababa;
    background: #F8F8F8;
    background: -moz-linear-gradient(top, #F8F8F8 40%, #D1D1D1 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(40%, #F8F8F8), color-stop(100%, #D1D1D1));
    background: -webkit-linear-gradient(top, #F8F8F8 40%, #D1D1D1 100%);
    background: -o-linear-gradient(top, #F8F8F8 40%, #D1D1D1 100%);
    background: linear-gradient(to bottom, rgba(248, 248, 248, 1) 0%, rgba(209, 209, 209, 1) 100%);
}
.bt.rounded {
    padding: 0 12px;
    height: 24px;
    line-height: 24px;
    text-decoration: none;
    border-radius: 2px;
    min-width: 75px;
    text-align: center;
    font-size: 13px;
}
.bt {
    display: inline-block;
    font-size: 13px;
}
.comments-v2 .icB_comment {
    background-position: 0 -398px;
    padding-left: 20px;
}
.comments-v2 .CommentForm .image,
.comments-v2 .avatar,
.comments-v2 .icB_pointer,
.comments-v2 .NormalCasual,
.comments-v2 .ic_down,
.comments-v2 .ic_good,
.comments-v2 .ic_fb,
.comments-v2 .ic_vk,
.comments-v2 .ic_tweet,
.comments-v2 .ic_tochka,
.comments-v2 .ic_no_soc, .comments-v2 .icB_comment {
    /*background-image: url(//i1.tchkcdn.com/_ade5dcbad/images/gui/comments-v2/sprite.png);*/
    background-image: url(../img/sprite.png);
    background-repeat: no-repeat;
}
.comments-v2 .icB_pointer {
    background-position: 5px -433px;
    padding-right: 14px;
}
.comments-v2 .dd-box .dd-panel {
    width: 100%;
    margin-left: -1px;
    margin-top: -1px;
    line-height: 18px;
    z-index: 4;
    list-style: none;
    margin-bottom: 10px;
    padding-left: 0;
}
.dd-panel.white-gray {
    background-color: #fff;
    border: 1px solid #BABABA;
    box-shadow: 0 0 2px #bababa;
    border-top: none;
}
.bt + .dd-panel {
    display: none;
    position: absolute;
    top: 16px;
    left: 0;
    background-color: #fff;
    font-size: 13px;
    z-index: 3;
    margin: 0;
}
.bt:hover + .dd-panel,
.bt + .dd-panel:hover {
    display: block;
}
.bt.rounded + .dd-panel {
    top: 26px;
}
.dd-panel.white-gray li,
.dd-panel.white-gray li a {
    color: #272727;
    text-shadow: 0 -1px 0 #fff;
}
.dd-panel.white-gray li:hover a {
    color: #C42E29;
}
.dd-panel.white-gray li {
    padding: 5px 12px;
    white-space: nowrap;
}
.comments-v2 .dd-box li:first-child {
    border-bottom: 1px solid #cecece;
    cursor: default;
}
.dd-panel.white-gray li:nth-child(2n) {
    background-color: #F7F7F7;
}
.dd-panel.white-gray li a {
    display: block;
    text-decoration: none;
}
.comments-v2 .dd-box .ic_no_soc,
.comments-v2 .dd-box .ic_fb,
.comments-v2 .dd-box .ic_vk,
.comments-v2 .dd-box .ic_tweet,
.comments-v2 .dd-box .ic_tochka {
    padding-left: 32px;
}
.comments-v2 .ic_fb,
.comments-v2 .ic_vk,
.comments-v2 .ic_tweet,
.comments-v2 .ic_tochka,
.comments-v2 .ic_no_soc {
    display: inline-block;
    height: 20px;
    width: 20px;
}
.comments-v2 .ic_tochka {
    background-position: 0 -302px;
}
.comments-v2 .ic_fb {
    background-position: 0 -92px;
}
.comments-v2 .ic_tweet {
    background-position: 0 -162px;
}
.comments-v2 .ic_no_soc {
    background-position: 0 -372px;
}
.comments-v2 .social-box {
    display: block;
    color: #8B8B8B;
    font-size: 13px;
    margin-left: -62px;
    margin-top: 1px;
    position: static;
}
.mr5 {
    margin-right: 5px;
}
.comments-v2 .first_comments_level {
    margin-top: -2px;
    margin-bottom: 10px;
    padding-left: 0;
}
.comments-v2 .B_inner ul{
    list-style: none;
}
.comments-v2 .first_comments_level li:first-child {
    border-top: none;
}
.comments-v2 .first_comments_level>li {
    padding: 7px 0 10px;
    display: block;
    border-top: 1px solid #E9E9E9;
}
.comments-v2 .avatar {
    float: left;
    margin-top: 3px;
    width: 32px;
    height: 32px;
    overflow: hidden;
    background-position: 0 -50px;
}
.comments-v2 .first_comments_level>li .text {
    padding-left: 42px;
}
.Block.comments-v2 .B_inner .text {
    font-size: 14px;
}
.comments-v2 .TechInfo {
    color: #686868 !important;
    font-size: 12px;
}
.ml10 {
    margin-left: 10px;
}
.comments-v2 .text p {
    padding: 3px 0 5px 0;
    margin: 0;
    overflow: hidden;
}
.clear, .clear5, .clear7, .clear10, .clear12, .clear15, .clear18, .clear20, .clear30 {
    display: block;
    clear: both;
    font-size: 0px;
    line-height: 0px;
    overflow: hidden;
}
.comments-v2 .small {
    font-size: 12px;
    color: #ff4343;
}
.comments-v2 .text .delemiter {
    display: inline-block;
    border-right: 1px solid #ccc;
    width: 0;
    height: 9px;
    margin: 0 10px 0;
    vertical-align: -1px;
}
.comments-v2 .ic_good {
    background-position: 0 -454px;
    padding-left: 15px;
}
/**//**//**//**//**//**//**//**//**/
/**//**//**//**//**//**//**//**//**/

footer {
    background-color: #e6e6e6;
    padding-bottom: 25px;
}
footer .social-container a {color: #e2232f}
footer .nav a {color: #6f6f6f}
footer .nav a:hover {color: #151515}
footer .copyright a {color: #e2232f}
footer .nav-link:first-child {
    padding-left: 0
}

footer .social-container {
    display: flex;
    justify-content: flex-end;
}
footer .copyright {
    font-size: 11px;
    line-height: 14px;
}
footer .row {
   padding: 10px 0;
}
footer .main-logo img{
    width: 190px;
}
#siteLinksUmhGroup,
.dropdown-class .dropdown-list,
#siteLinksUmhGroup .dropdown-list:hover
{
    background: white;
    background-color: white!important;
}

#siteLinksUmhGroup {
    border-left: 1px black inset;
}
.dropdown-list {color: #676767!important;}
    /* ---------------------------------------------------
       SIDEBAR STYLE
    ----------------------------------------------------- */
.sidenav {
    position: fixed;
    width: 220px;
    /*left: 0;*/
    top: 0;
    margin: 0;
    -webkit-transform: translateX(-100%);
    transform: translateX(-100%);
    height: 100%;
    padding-bottom: 60px;
    background-color: #fff;
    z-index: 9999;
    overflow-y: auto;
    will-change: transform;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;

}

@media (max-width: 400px) {
    .sidenav {
        width: 100%;
    }
}


.sidenav li > a {
    color: #616161;
    padding: 10px;
    font-size: 14px;
    /* display: block; */
    display: inline-block;
    min-width: 32px;

}
.sidenav-overlay {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    opacity: 0;
    height: 120vh;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 997;
    display: none;
}
.sidenav > div:focus {outline: none;}
#dismiss {
    width: 35px;
    height: 35px;
    line-height: 35px;
    text-align: center;
    position: absolute;
    top: 0;
    right: 0;
    cursor: pointer;
    -webkit-transition: all 0.3s;
    -o-transition: all 0.3s;
    transition: all 0.3s;
}
#dismiss:hover {
    background: #fff;
    color: #777;
}
.overlay {
    position: fixed;
    top: 0;
    width: 100vw;
    height: 100vh;
    background: rgba(0, 0, 0, 0.7);
    z-index: 998;
    display: none;
}
.sidenav .sidebar-header {
    background: #333;
}
.sidenav ul.components {
    padding: 35px 0 20px 0;
    border-bottom: 1px solid #343a40;
}
.sidenav ul.bordered-top {
    border-top: 1px solid #343a40;
    padding: 5px 0 0 0;
}
.sidenav ul p {
    color: #fff;
    padding: 10px;
}
.sidenav ul li a {
    width: 100%;
    padding: 10px;
    font-size: 14px;
    /*display: block;*/
    display: inline-block;
    min-width: 32px;
}
.sidenav ul li a:before,
.sidenav .dropdown-menu a:after
{
    content: none!important;
}
.sidenav ul li a:after {
    content: '>';
    position: absolute;
    right: 30px;
    opacity: 0;
    -webkit-transition: all 0.3s;
    -o-transition: all 0.3s;
    transition: all 0.3s;
}
.sidenav ul li a:hover:after {
    opacity: 1;
    right: 20px;
    -webkit-transition: all 0.3s;
    -o-transition: all 0.3s;
    transition: all 0.3s;
}
.sidenav ul li a:hover,
.sidenav ul li:hover
{
    /*color: #fff;*/
    background: #d4d4d4;
}
.sidenav ul li.active > a,
.sidenav a[aria-expanded="true"],
.sidenav a[aria-expanded="true"]:hover

{
    color: #fff;
    background: #343a40;
}
.sidenav ul ul a {
    /*font-size: 11px !important;*/
    /*padding-left: 10px !important;*/
    /*background: #333;*/
    padding-top: 3px;
    /*padding-bottom: 3px;*/
    /*display: block;*/
}
.sidenav .dropdown-menu {
    width: 100%;
    position: relative!important;
    transform: none!important;
    border-radius: 0;
    border-right: none;
    border-left: none;
}
.sidenav a[data-toggle="collapse"] {position: relative;}
.sidenav a[aria-expanded="false"]::before, .sidenav a[aria-expanded="true"]::before {
    /*!!!!!!!!*/
    /*если надо стрелка, раскоментить*/
    content: "\f107";
    position: absolute;
    right: 9px;
    font-size: 16px;
    font-family: 'Font Awesome 5 Free';
    font-weight: 900;
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased;
    display: inline-block;
    font-style: normal;
    font-variant: normal;
    text-rendering: auto;
    color: white;
}
.sidenav a[aria-expanded="true"]::before {
    /*!!!!!!!!!!!*/
    /*если надо стрелка, раскоментить*/
    content: '\f106';
}
.sidenav .social-container{
    margin: 0 10px;
    text-align: center;
}
.sidenav .social-container a, .sidenav a {color: #4e4e4e;}
.sidenav .social-container a:hover {color: #868686;}
.swiper-container {
    width: 100%;
    height: 100%;
    margin-left: auto;
    margin-right: auto;
}
.swiper-slide {
    font-size: 18px;
    background: #fff;
    /* Center slide text vertically */
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    -webkit-justify-content: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    align-items: center;
}


.dropdown-list {
    color: #B5B7B9;
    display: -moz-inline-stack;
    display: inline-block; zoom:1; *display: inline; _overflow: hidden; cursor: pointer; padding: 4px 12px 4px 4px;
    background: url('../img/dropdown_arrows1.png') no-repeat right 1px;
    position: relative;
}
.dropdown-list:hover {background-color: #464C52;}
.f-dropdown {position: absolute; z-index: 9999999; font-size: 11px; display: none; bottom: 28px;}
.dropdown-class .f-dropdown {display: block;}
.f-dropdown .dropdown-menu-umh,.f-dropdown .dropdown-panel {
    min-width: 160px; max-width: 360px;
    list-style: none; background: #FFF;
    border: solid 1px rgba(0, 0, 0, .2);
    box-shadow: 0 5px 10px rgba(0, 0, 0, .2);
    overflow: visible;
    padding: 4px 0; margin: 0;
}
.f-dropdown .dropdown-panel {padding: 10px;} .f-dropdown.dropdown-tip {margin-top: 8px;}
.f-dropdown.dropdown-tip.dropdown-anchor-right:before {left: auto; right: 9px;}
.f-dropdown.dropdown-tip.dropdown-anchor-right:after {left: auto; right: 10px;}
.f-dropdown.dropdown-scroll .dropdown-menu-umh, .f-dropdown.dropdown-scroll .dropdown-panel {max-height: 358px; overflow: auto;}
.f-dropdown .dropdown-menu-umh LI {list-style: none; padding: 0 0; margin: 0; line-height: 18px;background : none repeat scroll 0 0 transparent !important;}
.f-dropdown .dropdown-menu-umh LI > A, .f-dropdown .dropdown-menu-umh LABEL {display: block; color: #555; text-decoration: none; line-height: 16px;	padding: 3px 15px; white-space: nowrap;}
.f-dropdown .dropdown-menu-umh LI > A:hover, .f-dropdown .dropdown-menu-umh LABEL:hover {background-color: #0094F5; color: #FFF; cursor: pointer;}


@media print {
   nav, header, footer ,
   .read-more-container,
   .print-and-share,
   .comments-v2,
   .read-more,
   .recomended_block,
   .np-area,
   .sidebar {display: none!important;}
}
#profile_menu {
    right: 0;
    left: auto;
    position: absolute;
}
#profile_menu .dropdown-item.active,
#profile_menu .dropdown-item:active {
    color: #fff;
    text-decoration: none;
    background-color: #676767;
    outline: none;
}


/*branding*/
.branding-v2 header {padding-bottom: 0;}
.branding-v2 header .container .d-flex
{
    background-color: #fff;
    position: relative;
    z-index: 1;
    margin-left: -10px;
    margin-right: -10px;
    padding-left: 10px;
    padding-right: 10px;
}
.branding-v2 header .container .rd-navbar-original {
    position: relative;
    z-index: 1040;
    margin-left: -10px;
    margin-right: -10px;
    padding-left: 10px;
    padding-right: 10px;

}
.branding-v2 header .container .rd-navbar--is-clone
{
    z-index: 3;
}
.branding-v2 section .container {
    background-color: #fff;
    position: relative;
    z-index: 1;
}
.branding-v2 footer {
    background-color: transparent;
    position: relative;
    z-index: 1;
}
.branding-v2 .modal-backdrop{display: none!important;}
.branding-v2 .wrapper {padding-top: 190px;}